// MegaMenu

.c-menubar {
    background: #EE5B67;
    border : 0;
    top:100px;
}

.ui-megamenu .ui-menuitem.ui-menuitem-active > .ui-menuitem-link{
    background: white;
}

.ui-megamenu .ui-menuitem > .ui-menuitem-link:hover {
    background: white;
}

.ui-megamenu .ui-menuitem > .ui-menuitem-link:hover > .ui-menuitem-text {
    color: #19A599;
}

.ui-megamenu .ui-menuitem.ui-menuitem-active > .ui-menuitem-link > .ui-menuitem-text {
    color: #19A599;
}

.ui-menuitem > .mainMenuElements {
    padding : 5px 10px;
}

.ui-menuitem > .menuButtons {
    padding : 5px 20px;
}

.mainMenuElements .ui-menuitem-text{
    color: white;
}

.ui-megamenu .ui-menuitem.ui-menuitem-active > .mainMenuElements{
    background: white;
}

.ui-megamenu .ui-menuitem > .mainMenuElements:hover {
    background: white;
}

.ui-megamenu .ui-menuitem > .mainMenuElements:hover > .ui-menuitem-text {
    color: #EE5B67;
}

.ui-megamenu .ui-menuitem.ui-menuitem-active > .mainMenuElements > .ui-menuitem-text {
    color: #EE5B67;
}

.ui-megamenu .ui-megamenu-root-list {
    margin: 10px;
    float : right
}

.ui-submenu-icon {
    display : none
}

.menuGrid {
    height : 70px;
}

.ui-widget-header {
    font-size: 18px;
    color : #EE5B67;
    background: white;
    border : 0px;
}



//Media Queries

@media all and (max-width: 850px) {
    .menuGrid {
        display: none;
    }
    .search-bar-group {
        height : inherit;
        width : 60%
    }
    .logo {
        cursor: pointer
    }
}

@media all and (min-width: 851px) {
    .logo > span {
        display: none;
    }
}

.personal-offset-grid {
    width : 5%
}

//Main Header Component

header {
    height : 70px;
    margin : 0;
    background: #EE5B67;
}


//Images And hamburger Component
.logo img{
    max-height : 50px;
    max-width : 50px;
    display: block;
    left : 30px;
    margin: 5px 10px
}

.logo > span, .logo > img {
    position:absolute;
}

.logo > span {
    left : 12px;
    top :25px;
    color: white;
    font-size : 20px
}

//Search bar component

.search-bar-group {
    height : 30px;
    padding: 0px;
    margin : 10px auto;
}

.search-bar {
    top : 20px;
    width : 100%;
}

.ui-inputgroup-addon .fa {
    margin : 5px auto;
    color : #484848;
    font-size: 24px;
    -webkit-text-stroke: 2px white;

}

.ui-inputgroup .ui-inputgroup-addon:first-child {
    width : 50px;
    border-radius: 5px 0 0 5px;  
    background: white;
    border : 0;
}


.search-bar > input {
    border-radius: 0 5px 5px 0;  
    width : 100%;
    height : 30px;
    border : 0;
    padding : 8px;
    font-size: 16px;
}

//SidePanel

.ui-sidebar {
 overflow-y: scroll 
}

.sidePanelMenuButton {
    height : 80px;
    background: #19A599;
    color : white; 
    border : 1px solid #19A599; 
    border-radius : 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    cursor: pointer;
}

.sidePanelMenuButton:active {
    background: #15887e;
    transition: 0.25s;
}

.ui-sidebar-close {
    display : none
}

.panel {
    height : 60px;
    font-size: 20px;
    background: white;
    margin : 0 auto;
    color : #484848;
    cursor: pointer;
}

.panel:active {
    color : #15887e;
}


